<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <a href="/lobby">Join a game</a>
        <a href="/logout">Logout</a>

        <h1>Hello, <%= user.charAt(0).toUpperCase() + user.slice(1) %>!</h1>

        <button id="newLobbyBtn">Start New Game</button>

        <div id="messageContainer"></div>

        <ul>
            <% if(typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
        </ul>

        <div>
            <input id="joinInput" placeholder="Enter Room Code">
            <button id="joinBtn">Join Room</button>
        </div>

        <script>
            const socket = io();

            const newLobbyBtn = document.getElementById('newLobbyBtn');
            const joinBtn = document.getElementById('joinBtn');
            const joinInput = document.getElementById('joinInput');
            const messageContainer = document.getElementById('messageContainer');
            let newMessage = document.createElement('p');


            newLobbyBtn.addEventListener('click', () => {
                socket.emit('newLobby');
            });

            joinBtn.addEventListener('click', () => {
                const roomCode = joinInput.value;
                socket.emit('joinLobby', roomCode);
            });

            socket.on('lobbyNotFound', () => {
                messageContainer.textContent = 'Lobby not found';
            });

            socket.on('lobbyCreated', (roomCode) => {
              messageContainer.textContent = `You're in! Invite others with code: ${roomCode}`;
            });

            socket.on('playerJoined', (playerCount) => {
              newMessage.textContent = `A player joined. Current players: ${playerCount}`;
              messageContainer.appendChild(newMessage);
            });

            socket.on('playerLeft', (playerCount) => {
              newMessage.textContent = `A player left. Current players: ${playerCount}`;
              messageContainer.appendChild(newMessage);
            });

            socket.on('lobbyCreationFailed', (playerCount) => {
              newMessage.textContent = 'You have already created a lobby';
              messageContainer.appendChild(newMessage);
            });

            socket.on('lobbyJoinFailed', (playerCount) => {
              newMessage.textContent = 'You have already joined a lobby';
              messageContainer.appendChild(newMessage);
            });

            // socket.on('redirect', (url) => {
            //     socket.disconnect();
            //     window.location.href = url;
            // });
            
        </script>
    </body>
</html>

