<!DOCTYPE html>
<html>
  <head>
    <title>UNO - Game</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <script>
      const currentPlayer = "<%= username %>";
    </script>
  </head>
  <body>
    <div id="message-container"></div>

    <div id="color-select">
      <h1>Select Color</h1>
      <button style="background-color: red; color: white;">Red</button>
      <button style="background-color: yellow;">Yellow</button>
      <button style="background-color: green; color: white;">Green</button>
      <button style="background-color: blue; color: white;">Blue</button>
    </div>

    <div id="dashboard-div">
      <a href="/logout">Logout</a>

      <h1>Hello, <span id="user"><%= username.charAt(0).toUpperCase() + username.slice(1) %></span>!</h1>

      <button id="newLobbyBtn">Start New Game</button>

      <div>
        <input id="joinInput" placeholder="Enter Room Code">
        <button id="joinBtn">Join Room</button>
      </div>
    </div>
    
    <div id="lobby-div" style="display: none;">
      <h1>Lobby</h1>

      <h2>Room Code: <span id="room-code"></span></h2>
      <button id="start-button" style="display: none;">Start Game</button>

      <h2>Players:</h2>
      <ul id="lobby-player-list"></ul>
    </div>

    <div id="game-div" style="display: none;">
      <div id="player-list-holder">
        <ul id="player-list"></ul>
      </div>
  
      <div id="piles">
        <div id="discard-pile">
          Red Four
        </div>
      </div>
      
      <div id="hand">
        <table>
          <tr id="hand-table"></tr>
        </table>
      </div>
    </div>

    <script src="/js/game.js"></script>
  </body>
</html>