<!DOCTYPE html>
<html>
  <head>
    <title>UNO - CS375 / Lobby</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/lobby.css">
  </head>

  <body>

    <div id="content">
      <h1>Lobby</h1>

      <h2>Room Code: <span id="room-code"><%= roomCode %></span></h2>
      <% if (user.isHost) { %>
        <button id="start-button">Start Game</button>
      <% } %>

      <div id="messageContainer"></div>

      <h2>Players:</h2>
      <ul id="player-list">
        <% users.forEach(function(user){ %>
          <li>
            <img src="/img/person-outline.svg" alt="<%= user.name %> picture">
            <h3><%= user.name %></h3>
          </li>
        <% }); %>
      </ul>

    </div>

    <script>
      // document.addEventListener('DOMContentLoaded', () => {
      //   const socket = io();

      //   socket.on('connect', () => {
      //       const queryParams = new URLSearchParams(window.location.search);
      //       const roomCode = queryParams.get('room');
      //       const messageContainer = document.getElementById('messageContainer');
      //       let newMessage = document.createElement('p');

      //       console.log(roomCode);

      //       if (roomCode) {

      //         socket.on('lobbyCreated', (roomCode) => {
      //           console.log("I'm working");
      //           messageContainer.textContent = `You're in! Invite others with code: ${roomCode}`;
      //         });

      //         socket.on('playerJoined', (playerCount) => {
      //           newMessage.textContent = `A player joined. Current players: ${playerCount}`;
      //           messageContainer.appendChild(newMessage);
      //         });

      //         socket.on('playerLeft', (playerCount) => {
      //           newMessage.textContent = `A player left. Current players: ${playerCount}`;
      //           messageContainer.appendChild(newMessage);
      //         });

      //         socket.on('lobbyCreationFailed', (playerCount) => {
      //           newMessage.textContent = 'You have already created a lobby';
      //           messageContainer.appendChild(newMessage);
      //         });

      //         socket.on('lobbyJoinFailed', (playerCount) => {
      //           newMessage.textContent = 'You have already joined a lobby';
      //           messageContainer.appendChild(newMessage);
      //         });

      //       }
      //     });
      //   });
    </script>

  </body>

</html>