<!DOCTYPE html>
<html>
<head>
  <title>UNO - CS375 / Lobby</title>
  <link rel="stylesheet" type="text/css" href="/lobby.css">
</head>
<body>
  <div id="content">
    <h1>Lobby</h1>
    <h2>Room Code: <span id="room-code"><%= roomCode %></span></h2>
    <% if (user.isHost) { %>
      <button id="start-button">Start Game</button>
    <% } %>
    <h2>Players:</h2>
    <ul id="player-list">
      <% users.forEach(function(user){ %>
        <li>
          <img src="/img/person-outline.svg" alt="<%= user.name %> picture">
          <h3><%= user.name %></h3>
        </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
